svg {
  font: 10px sans-serif;
  padding: 0px;
}

.axisMain path,
.axisMain line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axisMain path {
  display: none;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}


.rowSel {
  width: 430px;
  height: 25px;
  margin-left: 20px;
}

.col0 {
  width: 16%;
  display: inline-block;
/*  padding: 30px;
*/}


.col1 {
  width: 16%;
  display: inline-block;
  /*padding: 30px;*/
}


.col2 {
  width: 16%;
  display: inline-block;
/*  padding: 30px;*/
}


.col3 {
  width: 16%;
  display: inline-block;
  /*padding: 30px;*/
}


.col4 {
  width: 16%;
  display: inline-block;
  /*padding: 30px;*/
}

.bar {
  fill: steelblue;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}